<!--ProRoute education.html
temporary html template until css is tied in
this will be where the user will log in
-->
{%extends "base.html" %}
{% block content %}
  <form method="POST" action ="">
    <p><label for="l_email">Email: <input type= "text" name="l_email"></label></p>
    <p><label for="l_password">Password: <input type= "password" name="l_password"></label></p>

    <p><input type="submit" value="LogIn" name= "l_login"></p>
  </form>
  <p><a href = '/job'>Jobs</a></p>
  <p><a href="/register">Register</a></p>

{% endblock %}
