<!--ProRoute profession.html
temporary html template until css is tied in
this will be where the user will submit information about profession
-->
{%extends "navigation.html"%}
{%block nav%}


      <form method="get" action="">
        <p><label for="keyinput">Profession: <input id="" name="p_professionName"></label>
        <p><label for="keyinput">Description: <input id="" name="p_description"></label>
          <p><label for="keyinput">Tags: <input type="textarea" id="" name="p_tags"></label>
        <p><input type="submit" value="Update Profession">
      </form>


{% endblock %}
